.card img {
    height: 200px;
    object-fit: cover;
}

textarea {
    width: 100%;
    height: 80px;
}
.anotacao-input-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
